body {
    padding-top: 10px;
    /*background-image: url("assets/test.png");*/
    background-size: 1800px;
    background-position-x: -27px;
}
.top-bar {
    display: flex;
    position: relative;
    width: 100%;
}

.top_search {
    border-radius: 50px;
    width: 90%;
    height: 38px;
    border-style: solid;
    border-color: darkgray;
    font-size: 17px;
    padding-left: 49px;
    background-color: transparent;
    position: relative;
    margin-right: auto;
    vertical-align: center;
}


.fa-25px {
    font-size: 35px;
}

.fa-search{
    position: absolute;
    z-index: 1;
    left: 20px;
    top: 10px;
}

.nav {
    font-size: 16px;
}

.nav-item {
    white-space: nowrap;
}

.main-img {
    width: 100%;
    padding-top: 10px;
    overflow: hidden;
    position: relative;
}

.main-img h2 {
    z-index: 1;
    color: white;
}

.spacex {
    width:100%;
}

.d{
    width: 100%;
    display: flex;
    text-align: start;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: darkgrey;
}

.d-bottom {
    border-bottom-style: none;
}

.d-text {
    width: 80%;
    padding-left: 18px;
    padding-top: 9px;
    padding-bottom: 10px;
    margin-right: auto;
}

.d .image {
    width: 90px;
    height: 90px;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 13px;
}

.react-img, .javascript-img, .jquery-img, .nodejs-img {
    height: 100%;
    position: relative;
}

.sub-text {
    font-size: 17px;
}


.main-text {
    font-size: 17px;
    font-weight: bold;
}

.title {
    font-size: 18px;
    font-weight: bold;
}

.grey {
    color: darkgrey;
    font-weight: initial;
}

.posts {
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: darkgrey;
    border-radius: 5px;
}

.d-small {
    margin-bottom: 0px;
}

.d-small .image {
    margin-top: 10px;
}

.fa-stack {
    font-size:10px;
    margin-top: -3px;
}

.tweet, .follow{
    width: 100%;
    height: 35px;
    background-color: #0e6dfd;
    border-style: none;
    border-radius: 20px;
    color: white;
    margin-top: 10px;
}

.col-7 .list-group-item{
    display: flex;
}

.col-7 .list-group-item img{
    height: 45px;
}

.image {
    width: 45px;
    height: 45px;
    border-radius: 50px;
    text-align: center;
    margin-left: 3px;
    margin-right: 18px;
    overflow: hidden;
}

.col-7 .list-group-item c{
    font-size: 14px;
}

.br {
    display: block;
    margin-bottom: -5px;
}

.col-7 .list-group-item .fa-stack{
    font-size: 8px;
}

.account {
    width: 60%;
    margin-right: auto;
    z-index: 1;
    white-space: nowrap;
}

.follow {
    z-index: 0;
    width: 80px;
    margin-left:-120px;
    left: 40px;
}

.col-xl-3 .list-group-item{
    white-space: nowrap;
}

